@model Login

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<hr />

@* <h4>Registered Admins</h4> *@
@* @if (ViewBag.Admins is List<innodigitls.Models.RegisteredUser> admins && admins.Any()) *@
@* { *@
@*     <table class="table table-bordered table-striped"> *@
@*         <thead> *@
@*             <tr> *@
@*                 <th>Username</th> *@
@*                 <th>Role</th> *@
@*                 <th>Password</th> *@
@*             </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*             @foreach (var admin in admins) *@
@*             { *@
@*                 <tr> *@
@*                     <td>@admin.Username</td> *@
@*                     <td>@admin.Role</td> *@
@*                     <td>@admin.Password</td> *@
@*                 </tr> *@
@*             } *@
@*         </tbody> *@
@*     </table> *@
@* } *@
@* else *@
@* { *@
@*     <p>No Admins registered.</p> *@
@* } *@

@* <h4>Registered Users</h4> *@
@* @if (ViewBag.Users is List<innodigitls.Models.RegisteredUser> users && users.Any()) *@
@* { *@
@*     <table class="table table-bordered table-striped"> *@
@*         <thead> *@
@*             <tr> *@
@*                 <th>Username</th> *@
@*                 <th>Role</th> *@
@*                 <th>Password</th> *@
@*             </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*             @foreach (var user in users) *@
@*             { *@
@*                 <tr> *@
@*                     <td>@user.Username</td> *@
@*                     <td>@user.Role</td> *@
@*                     <td>@user.Password</td> *@
@*                 </tr> *@
@*             } *@
@*         </tbody> *@
@*     </table> *@
@* } *@
@* else *@
@* { *@
@*     <p>No Users registered.</p> *@
@* } *@
@{
    var allUsers = new List<Register>();

    if (ViewBag.Admins is List<Register> admins)
    {
        allUsers.AddRange(admins);
    }

    if (ViewBag.Users is List<Register> users)
    {
        allUsers.AddRange(users);
    }
}

<h4>All Registered Users</h4>

@if (allUsers.Any())
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in allUsers)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Role</td>
                    <td>@user.Password</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users registered.</p>
}

<a asp-action="Register" class="btn btn-link mt-3">Register New User</a>
